@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

#calendar {
  --sx-color-primary: var(--color-primary);
  --sx-color-on-primary: var(--color-primary-content);
  --sx-color-primary-container: oklch(from var(--color-primary) L C H / 0.7);
  --sx-color-on-primary-container: var(--color-primary-content);
  --sx-color-secondary: var(--color-secondary);
  --sx-color-on-secondary: var(--color-secondary-content);
  --sx-color-secondary-container: oklch(from var(--color-secondary) L C H / 0.7);
  --sx-color-on-secondary-container: var(--color-secondary-content);
  --sx-color-tertiary: var(--color-tertiary);
  --sx-color-on-tertiary: var(--color-tertiary-content);
  --sx-color-tertiary-container: oklch(from var(--color-tertiary) L C H / 0.7);
  --sx-color-on-tertiary-container: var(--color-tertiary-content);
  --sx-color-surface: var(--color-base-100);
  --sx-color-surface-dim: var(--color-base-100);
  --sx-color-surface-bright: var(--color-base-300);
  --sx-color-on-surface: var(--color-base-content);
  --sx-color-surface-container: var(--color-base-200);
  --sx-color-surface-container-low: var(--color-base-100);
  --sx-color-surface-container-high: var(--color-base-300);
  --sx-color-background: var(--color-base-100);
  --sx-color-on-background: var(--color-base-content);
  --sx-color-outline: var(--color-base-content);
  --sx-color-outline-variant: #c4c7c5;
  --sx-color-shadow: #000;
  --sx-color-surface-tint: #ff0000;
  --sx-color-neutral: var(--sx-color-outline);
  --sx-color-neutral-variant: var(--sx-color-outline-variant);
 
  --sx-internal-color-gray-ripple-background: var(--color-base-100);
  --sx-internal-color-light-gray: var(--color-base-300);
  --sx-internal-color-text: var(--color-base-content);
}
